.main {
	background-color:#17c2a4 ;
	padding: 119px 0px 128px 0px;
}
.main-container__green {
	overflow: hidden;
	max-width: 1033px;
	margin: 0 auto;
}
.main-content__top {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.main-content-top__title {
	text-align: center;
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 40px;
	font-weight: 700;
	line-height: 29.91px;
	text-transform: uppercase;
	letter-spacing: 4px;
	&::after{
		padding-top: 20px;
		margin:0 auto;
		width: 87px;
		display: block;
		content:"";
      border-bottom:4px solid #14a58b;
	}
}
.main-content-top__subtitle {
	margin-top: 20px;
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.36px;
}
.main-flex-content__container {
	padding-top:83px ;
	margin: 0px auto;
	max-width: 1301px;
	display: flex;
}
.main-content__item {
	flex:0 1 44.4444%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	text-align: center;
}
.main-content-img {
	margin-bottom: 60px;
}
.main-content__title {
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	padding-bottom: 27px;
}
.main-content__subtitle {
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}